* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

/* font style */

@import url("https://fonts.googleapis.com/css2?family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&family=Noto+Serif:ital,wght@0,100..900;1,100..900&display=swap");

.inter-font {
  font-family: "Inter", sans-serif;
  font-optical-sizing: auto;
  font-weight: 400;
  font-style: normal;
}

.noto-serif-font {
  font-family: "Noto Serif", serif;
  font-optical-sizing: auto;
  font-weight: 400;
  font-style: normal;
  font-variation-settings: "wdth" 100;
}

.font-bold {
  font-weight: 800;
}

/* sheared styles */
body {
  background-color: rgba(245, 248, 255, 1);
}

.container {
  width: 1140px;
  margin: 30px auto;
  /* border: 1px solid black; */
}

.dark {
  color: black;
}
.dark-1 {
  color: rgba(37, 36, 50, 1);
}
.ash-color {
  color: rgba(137, 135, 161, 1);
}

.orange-color {
  color: rgba(233, 90, 8, 1);
}

/* nav styles */
.nav-container {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.logo-img {
  width: 135px;
  height: auto;
  object-fit: cover;
}

.nav-menu {
  display: flex;
  gap: 48px;
}

.nav-menu > li {
  list-style: none;
}

/* hero section styles */
.hero {
  display: flex;
  align-items: end;
  margin-top: 150px;
  justify-content: space-between;
}

.hero-content {
  width: 570px;
  height: 299px;
  flex: 1;
}

.hero-content > h2 {
  margin-top: 30px;
  margin-bottom: 10px;
  font-weight: 800;
  font-size: 4.0625rem;
}

.hero-content > p {
  font-weight: 400;
  font-size: 1.375rem;
  color: rgba(0, 0, 0, 0.5);
}

.hero-img {
  width: 100%;
  flex: 1;
}

/* Plants Section styles */
.Plants-Section {
  margin-top: 120px;
}
.Plant-titles {
  display: flex;
  flex-direction: column;
  align-items: center;
  text-align: center;
}

.Plant-titles > h2 {
  margin-bottom: 16px;
  font-weight: 800;
  font-size: 3.125rem;
}

.Plant-titles > p {
  width: 70%;
  margin-bottom: 50px;
  font-weight: 400;
  font-size: 1.375rem;
  color: rgba(0, 0, 0, 0.5);
}

.card-container {
  /* border: 1px solid black; */
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  justify-items: center;
  gap: 12px;
}

.card-body {
  /* border: 1px solid black; */
  width: 100%;
  text-align: center;
}

.product-img {
  width: 100%;
}

.product-info {
  margin-top: 20px;
  margin-bottom: 20px;
}
.product-info > h2 {
  font-weight: 500;
  font-size: 1.57rem;
}
.product-info > p {
  font-weight: 800;
  font-size: 1.57rem;
}
.add-to-card {
  width: 100%;
  height: 50px;
  font-weight: 600;
  font-size: 1rem;
  background-color: rgba(233, 90, 8, 1);
  color: white;
  border: none;
}

/* Plants Lover section styles */

.flower-shop {
  margin: 250px auto;
  width: 1140px;
  display: flex;
  justify-content: space-between;
  /* border: 1px solid black; */
}

.shop-img {
  width: 48%;
  position: relative;
  /* border: 1px solid black; */
}

.store-pic {
  width: 100%;
}

.store-badge {
  width: 286px;
  position: absolute;
  right: -90px;
  top: -130px;
}

.shop-content {
  width: 45%;
}

.shop-content > h2 {
  width: 90%;
  margin-top: 50px;
  margin-bottom: 30px;
  font-weight: bold;
  font-size: 3.125rem;
}

.shop-content > ul {
  font-weight: 400;
  font-size: 1.375rem;
}

.shop-content > ul > li {
  margin-bottom: 20px;
  margin-left: 40px;
  color: rgba(0, 0, 0, 0.5);
}

/* Deals section styles */
.Deals {
  margin-top: 120px;
}
.Deals-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  text-align: center;
}

.Deals-container > h2 {
  margin-bottom: 16px;
  font-weight: 800;
  font-size: 3.125rem;
}

.Deals-container > p {
  width: 70%;
  margin-bottom: 50px;
  font-weight: 400;
  font-size: 1.375rem;
  color: rgba(0, 0, 0, 0.5);
}

.Deals-Discount {
  margin-top: 70px;
  display: grid;
  grid-template-columns: 1fr 3fr;
  gap: 28px;
  color: white;
}

.box {
  display: flex;
  justify-content: center;
  align-items: center;
  text-align: center;
}
.box-1 {
  width: 367px;
  height: 206px;
  border-radius: 14px;
  background: linear-gradient(rgba(0, 0, 0, 0.4)), url(assets/deal-bloom.png);
  background-size: cover;
  background-position: center;
}
.box-2 {
  width: 367px;
  height: 206px;
  border-radius: 14px;
  margin-top: 25px;
  background: linear-gradient(rgba(0, 0, 0, 0.4)), url(assets/deal-ana.png);
  background-size: cover;
  background-position: center;
}

.box-1 > p,
.box-2 > p {
  font-weight: bold;
  font-size: 1.25rem;
}
.box-1 > p > a,
.box-2 > p > a {
  font-weight: 500;
  font-size: 1rem;
  color: white;
}
.box-3 {
  width: 100%;
  height: 100%;
  border-radius: 14px;
  background: linear-gradient(rgba(0, 0, 0, 0.4)), url(assets/deal-zabo.png);
  background-size: cover;
  background-position: center;
}

.box-3 > p {
  font-weight: bold;
  font-size: 2.5rem;
}

.box-3 > p > a {
  font-weight: 500;
  font-size: 1.75rem;
  color: white;
}
.hidden-pc {
  visibility: hidden;
}

/* !!!!ATTENTION: THE FOLLOWING PART HANDLES RESPONSIVENESS.!!!! */

/* responsive styles */
@media screen and (max-width: 576px) {
  .container {
    width: 100%;
    margin: 0;
  }

  .hidden-phone {
    display: none;
  }
  .hidden-pc {
    visibility: visible;
  }

  .logo-img {
    width: 30%;
  }

  /* nav styles */
  .nav-container {
    padding: 15px;
  }

  /* hero styles */
  .hero {
    flex-direction: column-reverse;
    align-items: center;
    margin-top: 28px;
  }

  .hero-content {
    width: 100%;
    height: auto;
    padding: 15px;
    padding-top: 0;
  }

  .hero-content > h2 {
    font-size: 1.5rem;
  }

  .hero-content > p {
    font-size: 0.875rem;
  }

  .hero-img {
    max-width: 100%;
    height: auto;
  }

  /* Plant section */
  .Plants-Section,
  .Deals {
    margin-top: 65px;
  }
  .Plant-titles > h2,
  .Deals-container > h2 {
    font-size: 1.5rem;
  }

  .Plant-titles > p,
  .Deals-container > p {
    width: 95%;
    margin-bottom: 28px;
    font-size: 0.875rem;
    padding: 20px;
    padding-top: 0px;
  }

  .card-container {
    grid-template-columns: repeat(2, 1fr);
    gap: 5px;
    padding: 15px;
  }

  .product-info > h2,
  .product-info > p {
    font-size: 1rem;
  }

  /* Plants Lover section styles */
  .flower-shop {
    margin: 40px auto;
    width: 100%;
    flex-direction: column;
    padding: 15px;
  }
  .shop-img {
    width: 100%;
  }

  .shop-content {
    width: 100%;
  }

  .shop-content > h2 {
    margin-top: 20px;
    margin-bottom: 12px;
    font-size: 1.5rem;
  }

  .shop-content > ul {
    font-weight: 400;
    font-size: 0.875rem;
  }

  .shop-content > ul > li {
    margin-bottom: 10px;
    margin-left: 15px;
  }
  /* Deals styles */
  .Deals-Discount {
    margin-top: 20px;
    grid-template-columns: 1fr;
    padding: 15px;
    gap: 20px;
  }

  .box-1,
  .box-2,
  .box-3 {
    width: 100%;
    height: 206px;
  }

  .box-2 {
    margin-top: 20px;
  }

  .box-3 > p {
    font-size: 1.25rem;
  }
  .box-3 > p > a {
    font-size: 1rem;
  }
}
